/* iCheck plugin Line skin, blue
----------------------------------- */
.icheckbox_line-blue,
.iradio_line-blue {
    position: relative;
    display: block;
    /*margin-left:20px;*/
    margin-right: 40px;
    padding: 20px 15px 20px 38px;
    border:2px solid #3DA0DB;
    font-size: 15px;
    line-height: 17px;
    color: #2489c5;
    /*background: #2489c5;*/
    background: #fff;
    /*border: none;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheckbox_line-blue .icheck_line-icon,
    .iradio_line-blue .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(line.png) no-repeat;
        border: none;
    }
    .icheckbox_line-blue.hover,
    .icheckbox_line-blue.checked.hover,
    .iradio_line-blue.hover {
        background: #3DA0DB;
        color: #fff;
    }
    .icheckbox_line-blue.checked,
    .iradio_line-blue.checked {
        background: #2489c5;
        color: #fff;
    }
        .icheckbox_line-blue.checked .icheck_line-icon,
        .iradio_line-blue.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheckbox_line-blue.disabled,
    .iradio_line-blue.disabled {
        background: #ADD7F0;
        cursor: default;
    }
        .icheckbox_line-blue.disabled .icheck_line-icon,
        .iradio_line-blue.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheckbox_line-blue.checked.disabled,
    .iradio_line-blue.checked.disabled {
        background: #ADD7F0;
    }
        .icheckbox_line-blue.checked.disabled .icheck_line-icon,
        .iradio_line-blue.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

        /*------*/


 
.iradio_line-blue1 {
    position: relative;
    display: block;
    /*margin-left:20px;*/
    padding: 10px 10px 10px 10px;
    border:2px solid #3DA0DB;
    font-size: 15px;
    line-height: 17px;
    color: #2489c5;
    /*background: #2489c5;*/
    background: #fff;
    /*border: none;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

    .iradio_line-blue1 .icheck_line-icon {
        position: absolute;
        top: 50%;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 -5px;
        padding: 0;
        overflow: hidden;
        background: url(line.png) no-repeat;
        border: none;
    }

    .iradio_line-blue1.hover {
        background: #3DA0DB;
        color: #fff;
    }

    .iradio_line-blue1.checked {
        background: #2489c5;
        color: #fff;
    }

        .iradio_line-blue1.checked .icheck_line-icon {
            background-position: -15px 0;
        }

    .iradio_line-blue1.disabled {
        background: #ADD7F0;
        cursor: default;
    }

        .iradio_line-blue1.disabled .icheck_line-icon {
            background-position: -30px 0;
        }

    .iradio_line-blue1.checked.disabled {
        background: #ADD7F0;
    }
        .iradio_line-blue1.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }





/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {

    .iradio_line-blue .icheck_line-icon {
        background-image: url(line@2x.png);
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_line-blue .icheck_line-icon,
    .iradio_line-blue .icheck_line-icon {
        background-image: url(line@2x.png);
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}






